<EditForm Model="@SessionDetails" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="input-group mb-3 col-6">
        <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
        </div>
        <input type="text" class="form-control" placeholder="Class Name" @bind-value="SessionDetails.Name">
    </div>
    <div class="input-group mb-3 col-6">
        <div class="input-group-prepend">
            <span class="input-group-text">Decription</span>
        </div>
        <input type="text" class="form-control" placeholder="Class Description" @bind-value="SessionDetails.Description">
    </div>
    <form>
        <div class="input-group mb-3 col-6">
            <div class="input-group-prepend">
                <span class="input-group-text">Start Time</span>
            </div>
            <InputSelect @bind-Value="SessionDetails.StartHour" class="custom-select">
                <option selected>Hour</option>
                @for (int i = 1; i <= 24; i++)
                {
                    <option value="@i">@i</option>
                }
            </InputSelect>
            <InputSelect @bind-Value="SessionDetails.StartMinute" class="custom-select">
                <option selected>Minute</option>
                @for (int i = 0; i < 60; i += 5)
                {
                    <option value="@i">@i</option>
                }
            </InputSelect>
        </div>
    </form>
    <form>
        <div class="input-group mb-3 col-6">
            <div class="input-group-prepend">
                <span class="input-group-text">Duration</span>
            </div>
            <input @bind-value="SessionDetails.Duration" type="text" class="form-control" placeholder="Number">
            <InputSelect @bind-Value="SessionDetails.UnitOfTime" class="custom-select">
                <option selected>Unit of Time</option>
                <option value="Minute">Minute</option>
                <option value="Hour">Hour</option>
                <option value="Day">Day</option>
            </InputSelect>

        </div>
    </form>
    <button type="submit" class="btn btn-success">@ButtonText</button>
</EditForm>

@code {
    [Parameter]
    public Data.Models.ClassSession SessionDetails { get; set; }

    [Parameter]
    public string ButtonText { get; set; }

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }
}
